html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    height: 100%;
    width: 100%;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
    background-color: rgb(14, 14, 14);
}

/* Header Section */

header {
    height: 15rem;
    width: 100%;
}

.header-img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    opacity: 40%;
}

.title {
    position: absolute;
    top: 3rem;
    left: 4rem;
    color: white;
    font-size: 3.5rem;
    letter-spacing: -2px;
}

.my-watchlist-text {
    position: absolute;
    top: 5.5rem;
    right: 5rem;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}


/* Search bar */

.search-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    top: -20px;
}

.movie-name-input {
    background-color: #2E2E2F;
    height: 3rem;
    border: none;
    color: #A5A5A5;
    text-indent: 3rem;
    width: 50vw;
    border-radius: 5px 0 0 5px;
    font-size: 1.2rem;
}

.search-btn {
    height: 3rem;
    border: none;
    margin-left: -0.3rem;
    background-color: #4B4B4B;
    color: white;
    width: 10vw;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
}

.icon {
    position: absolute;
    left: 21%;
    top: 1rem;
    color: #A5A5A5;
}